@model EntityLayer.Concrete.Writer

@{
    ViewBag.Title = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<link href="~/WriterPanelTemplate/css/profilestyle.css" rel="stylesheet" id="bootstrap-css">

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="@Html.DisplayFor(x=>x.WriterImage)" alt="Profile Picture" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    @Html.DisplayFor(x => x.WriterName) @Html.DisplayFor(x => x.WriterSurName)
                </h5>
                <h6>
                    @Html.DisplayFor(x => x.WriterTitle)
                </h6>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a href="~/WriterPanel/WPEditWriter" class="btn btn-secondary" name="btnAddMore">Edit Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>SKILLS</p>
                <a href="">MVC Project Camp Member</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayFor(x => x.WriterName)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>SurName</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayFor(x => x.WriterSurName)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayFor(x => x.WriterMail)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Profession</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayFor(x => x.WriterTitle)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>About</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayFor(x => x.WriterAbout)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

